%white-link {
  color: $white;
  &:hover {
    color: $gold;
  }
}

%section {
  position: relative;
  padding: 50px 0;
}

%white-section {
  background-color: #f4f4f4;
  color: $black;
}

%sliced-section {
  background-color: $black;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .7);
  }
}

%radius {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

%no-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

%btn-gold {
  @extend %radius;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: $gold;
  padding: 5px 15px;
  height: 46px;
  border: none;
  overflow: hidden;
  font-family: $ralewayBold;
  text-transform: uppercase;
  color: $white;
  &:hover {
    background-color: $hover-gold;
  }
}



.svg-inline--fa {
  * {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }
}

.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &.left-text {
    align-items: flex-start;
    text-align: left;
    p {
      max-width: none;
    }
  }
  *:last-child {
    margin-bottom: 30px;
  }
  h4 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 15px;
    max-width: 550px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.scroll-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  line-height: 1;
  top: 0;
  left: 50%;
  width: 60px;
  height: 30px;
  margin-left: -30px;
  -webkit-border-radius: 0 0 30px 30px;
  -moz-border-radius: 0 0 30px 30px;
  border-radius: 0 0 30px 30px;
  border: 2px solid $gold;
  border-top: none;
  background-color: transparent;
  color: $gold;
  font-size: 18px;
  &:hover {
    background-color: $gold;
    color: $white;
  }
}



.price-block {
  @extend %radius;
  display: inline-flex;
  z-index: 0;
  &.active {
    .price-block__btn {
      padding-right: 95px;
    }
    em {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    input {
      font-family: $robotoCondensedBold;
      width: 36px;
    }
    .price-block__submit {
      margin-right: 0;
    }
  }
  * {
    display: inline-flex;
    font-family: $ralewayBold;
    text-transform: uppercase;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    color: $white;
  }
  span {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 16px;
  }
  em {
    display: inline-flex;
    position: relative;
    flex-shrink: 0;
    font-style: normal;
    height: 16px;
  }
  svg {
    position: absolute;
    top: 50%;
    right: 22px;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
  }
  input {
    position: absolute;
    height: 100%;
    width: 0;
    right: 44px;
    color: $white;
    text-align: center;
    background-color: #d6ae70;
    top: 0;
    border: none;
    padding: 0;
    z-index: 1;
    &:focus {
      & ~ button {
        padding-right: 95px;
      }
    }
  }
}

.price-block__btn {
  display: inline-flex;
  position: relative;
  justify-content: center;
  background-color: $gold;
  padding: 15px 44px 15px 15px;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  border: none;
  overflow: hidden;
  z-index: 0;
  &:hover {
    background-color: $hover-gold;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.price-block__submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 100%;
  border: none;
  margin-right: -44px;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.product-price-block {
  display: flex;
  position: relative;
  align-items: flex-end;
  color: $white;
  h5,
  h6 {
    flex-shrink: 0;
    line-height: 24px;
  }
  h5 {
    span {
      font-size: 24px;
    }
  }
  h6 {
    text-decoration: line-through;
    margin-left: 15px;
    opacity: .75;
    span {
      font-size: 16px;
    }
  }
  span {
    font-family: $robotoCondensedBold;
  }
  button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.product-size-block {
  display: inline-flex;
  align-items: flex-end;
  margin-right: 15px;
  button {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: $isadoraBold;
    color: $white;
    border: 3px solid $gold;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    padding: 0;
    &.active {
      background-color: #9e7b46;
    }
  }
}

.product-price-value-block {
  display: inline-flex;
  align-items: flex-end;
  margin-left: auto;
}

.size1 {
  width: 35px;
  height: 35px;
  font-size: 12px;
}

.size2 {
  width: 40px;
  height: 40px;
  font-size: 14px;
}

.size3 {
  width: 45px;
  height: 45px;
  font-size: 16px;
}



.form-group {
  display: inline-flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  label {
    position: relative;
    margin-bottom: 3px;
    color: $grey-text;
    font-style: italic;
    &::after {
      content: ' :';
    }
    &.required {
      padding-left: 10px;
      &::before {
        content: '*';
        display: inline-block;
        position: absolute;
        left: 0;
        color: $danger;
      }
    }
  }
  small {
    font-size: 10px;
    color: $danger;
  }
  textarea {
    height: auto;
  }
}

.form-control {
  @extend %radius;
  height: 45px;
  border: 1px solid $input-bd;
  padding: 10px 15px;
  margin-bottom: 5px;
  resize: none;
  &:focus {
    border-color: $gold;
    color: $gold;
  }
  &.error {
    border-color: $danger;
    color: $danger;
  }
  &.success {
    border-color: $success;
    color: $success;
  }
}
