// IsadoraBold
@font-face {
  font-family: "IsadoraBold";
  src: url("../fonts/Isadora/IsadoraBold.woff2") format("woff2"),
       url("../fonts/Isadora/IsadoraBold.woff") format("woff"),
       url("../fonts/Isadora/IsadoraBold.svg") format("svg");
}



// Raleway
@font-face {
  font-family: "RalewayBlack";
  src: url("../fonts/Raleway/RalewayBlack.woff2") format("woff2"),
       url("../fonts/Raleway/RalewayBlack.woff") format("woff"),
       url("../fonts/Raleway/RalewayBlack.svg") format("svg");
}

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/Raleway/RalewayBold.woff2") format("woff2"),
       url("../fonts/Raleway/RalewayBold.woff") format("woff"),
       url("../fonts/Raleway/RalewayBold.svg") format("svg");
}

@font-face {
  font-family: "RalewayMedium";
  src: url("../fonts/Raleway/RalewayMedium.woff2") format("woff2"),
       url("../fonts/Raleway/RalewayMedium.woff") format("woff"),
       url("../fonts/Raleway/RalewayMedium.svg") format("svg");
}



// Roboto Condensed
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensed/RobotoCondensedBold.woff2") format("woff2"),
       url("../fonts/RobotoCondensed/RobotoCondensedBold.woff") format("woff"),
       url("../fonts/RobotoCondensed/RobotoCondensedBold.svg") format("svg");
}