// fonts
$isadoraBold: 'IsadoraBold', sans-serif;
$ralewayBlack: 'RalewayBlack', sans-serif;
$ralewayBold: 'RalewayBold', sans-serif;
$ralewayMedium: 'RalewayMedium', sans-serif;
$robotoCondensedBold: 'RobotoCondensedBold', sans-serif;



// colors
$gold: #c59d5f;
$grey: #333333;
$white: #ffffff;
$black: #000000;
$input-bd: #d6d6d6;
$grey-text: #666666;
$hover-gold: darken($gold, 15%);