// plugins
@import "~bootstrap-4-grid/scss/grid";

@import "reset";
@import "fonts";
@import "variables";
@import "base";

// sections
@import "sections/header";
@import "sections/head-section";
@import "sections/product-section";
@import "sections/delivery-section";
@import "sections/order-section";
@import "sections/item-section";
@import "sections/footer";

body {
  position: relative;
  line-height: 1.5;
  font-size: 14px;
  font-family: 'RalewayRegular', sans-serif;
}



h2 {
  font-size: 52px;
  font-family: $isadoraBold;
  margin-bottom: 30px;
  line-height: 1;
}

h3 {
  font-size: 30px;
  font-family: $ralewayBlack;
  text-transform: uppercase;
  margin-bottom: 15px;
}

h4 {
  font-size: 24px;
  font-family: $ralewayBlack;
  text-transform: uppercase;
  margin-bottom: 15px;
}



#app {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
