<template>
  <div>
    <head-section></head-section>
    <pizza-section></pizza-section>
  </div>
</template>

<script>
  import HeadSection from '../components/HeadSection'
  import PizzaSection from '../components/ProductSection'

  export default {
      name: 'Home',
      components: {
          HeadSection,
          PizzaSection
      }
  }
</script>