<template>
  <div>
    <head-section></head-section>
    <product-section></product-section>
    <delivery-section></delivery-section>
  </div>
</template>

<script>
  import HeadSection from '../components/HeadSection'
  import ProductSection from '../components/ProductSection'
  import DeliverySection from '../components/DeliverySection'

  export default {
      name: 'Home',
      components: {
          HeadSection,
          ProductSection,
          DeliverySection
      }
  }
</script>