<template>
  <div>
    <item-section></item-section>
  </div>
</template>

<script>
    import ItemSection from '../components/ItemSection'

    export default {
        name: 'Product',
        components: {
            ItemSection
        }
    }
</script>
