.delivery-section {
  @extend %section;
  color: $white;
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../images/flour.jpg);
}