.footer {
  margin-top: auto;
  padding: 40px 0;
  color: $white;
  background-color: $black;
  [class^='col'] {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h5 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    &::after {
      content: ':';
    }
  }
  li {
    position: relative;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    opacity: .3;
  }
}

.footer-contact-list {
  margin-top: 30px;
  li {
    padding-left: 25px;
  }
  svg {
    position: absolute;
    top: 3px;
    left: 0;
  }
  a {
    color: $white;
    text-decoration: underline;
    &:hover {
      color: $gold;
    }
  }
}

.footer-nav-list {
  margin-bottom: auto;
  font-size: 12px;
  text-transform: uppercase;
  li {
    padding-left: 10px;
    &.active {
      a {
        color: $gold;
        & ~ svg {
          opacity: 1;
          * {
            fill: $gold;
          }
        }
      }
    }
  }
  svg {
    position: absolute;
    opacity: .3;
    top: 3px;
    left: 0;
  }
  a {
    color: $white;
  }
}

.footer-order-btn {
  @extend %btn-gold,
  %no-radius;
  margin-top: 30px;
}

.footer-social-list {
  text-transform: uppercase;
  font-size: 12px;
  a {
    display: flex;
    position: relative;
    align-items: center;
    color: $white;
    &::before {
      content: '';
      display: inline-flex;
      position: relative;
      width: 24px;
      height: 24px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: $gold;
      margin-right: 7px;
    }
    &:hover {
      span {
        color: $gold;
      }
    }
  }
  span {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }
  svg {
    position: absolute;
    left: 12px;
    top: 12px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.footer-gallery {
  @include make-row();
  margin-left: -5px;
  margin-right: -5px;
}

.footer-gallery-item {
  @include make-col-ready();
  @include make-col(3);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  height: 70px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
