.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-family: $ralewayBold;
  background-color: rgba($black, .5);
  z-index: 1;
  .row {
    height: 80px;
  }
}

.header-logo-col,
.header-nav-col,
.header-contact-col {
  display: inline-flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-grow: 0;
}

.header-logo-col {
  @extend .col-2;
}

.header-logo-link {
  display: inline-flex;
  img {
    max-width: 130px;
    max-height: 50px;
  }
}

.header-nav-col {
  @include make-col-ready();
  @include make-col(8);
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    position: relative;
    padding: 3px 15px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      width: 2px;
      height: 2px;
      margin-top: -1px;
      margin-right: -1px;
      background-color: $white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    &.active {
      a {
        color: $gold;
      }
    }
  }
  a {
    color: $white;
  }
}

.header-contact-col {
  @include make-col-ready();
  @include make-col(2);
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: $white;
  flex-shrink: 0;
  & > * {
    display: inline-flex;
  }
  a {
    @extend %white-link;
  }
  & > span {
    opacity: .35;
    font-size: 11px;
  }
}

.header-contact-link {
  display: inline-flex;
  align-items: flex-end;
  font-family: $robotoCondensedBold;
  font-size: 12px;
  svg {
    margin-bottom: 4px;
    * {
      color: $gold;
    }
  }
  &:hover {
    svg * {
      color: $gold;
    }
  }
  b {
    font-size: 16px;
  }
}