.head-section {
  @extend %sliced-section;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  z-index: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  &.pizzas {
    background-image: url(../images/head-section--pizzas.jpg);
  }
  &.snacks {
    background-image: url(../images/head-section--snacks.jpg);
  }
  &.drinks {
    background-image: url(../images/head-section--drinks.jpg);
  }
  .container {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 1;
  }
  .row {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .product-price-block {
    align-items: center;
    padding-bottom: 20px;
  }
  .product-price-value-block {
    margin-left: 0;
  }
}

.head-slider {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  color: $white;
  .swiper-wrapper {
    display: inline-flex;
    flex-grow: 1;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  .swiper-slide {
    display: inline-flex;
    align-items: center;
    height: auto;
    width: 100% !important;
    opacity: 0 !important;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    & > div {
      padding-top: 15px;
      padding-bottom: 15px;
      &:first-child {
        padding-left: 45px;
      }
      &:last-child {
        padding-right: 45px;
      }
    }
  }
  .swiper-slide-active {
    opacity: 1 !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    color: $white;
    font-size: 24px;
    line-height: .9;
    background-color: transparent;
    background-image: none;
    margin-top: -15px;
    opacity: .4;
    &:hover {
      background-color: $gold;
      opacity: 1;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-disabled {
    display: none;
  }
  .swiper-scrollbar {
    width: calc(100% - 30px);
    left: 15px;
    background-color: rgba($white, .15);
    overflow: hidden;
  }
  .swiper-scrollbar-drag {
    background-color: rgba($white, .5);
  }
  a {
    @extend %white-link;
  }
  img {
    width: 100%;
    opacity: .75;
  }
  p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}