.item-section {
  @extend %sliced-section;
  display: flex;
  padding-top: 100px;
  min-height: 100vh;
  color: $white;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  .container {
    display: inline-flex;
    flex-grow: 1;
    margin-bottom: 20px;
  }
  &.pizzas {
    background-image: url(../images/head-section--pizzas.jpg);
  }
  &.snacks {
    background-image: url(../images/head-section--snacks.jpg);
  }
  &.drinks {
    background-image: url(../images/head-section--drinks.jpg);
  }
  img {
    max-width: 100%;
  }
  p {
    margin-bottom: 30px;
  }
  .product-price-block {
    align-items: center;
    padding-bottom: 20px;
  }
  .product-price-value-block {
    margin-left: 0;
  }
}
