.order-section {
  @extend %section,
  %white-section;
  padding-bottom: 40px;
}

.order-form {
  @include make-row();
  .title-block {
    padding-bottom: 30px;
  }
}

.order-block {
  @extend %radius;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  background-color: $white;
  min-height: calc(100% - 15px);
  border: 1px solid $input-bd;
  z-index: 0;
  & > * {
    position: relative;
    z-index: 1;
  }
  &::before {
    @extend %radius;
    content: '';
    position: absolute;
    left: 25px;
    top: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border: 1px solid $input-bd;
  }
  h3,
  h4 {
    text-align: center;
    span {
      color: $gold;
    }
  }
}

.order-action-row {
  flex-shrink: 0;
  margin-top: auto;
  padding-top: 15px;
  border-top: 1px solid $input-bd;
  h4 {
    margin-bottom: 10px;
    span {
      font-family: $ralewayMedium;
      text-transform: lowercase;
    }
    em {
      font-style: normal;
      font-family: $robotoCondensedBold;
    }
  }
  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  button {
    @extend %radius;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: 10px;
    padding: 5px 10px;
    min-height: 46px;
    font-size: 14px;
    font-family: $robotoCondensedBold;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid $input-bd;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    &:hover {
      background-color: $gold;
      border-color: $gold;
      color: $white;
    }
  }
}

.order-reset-btn {
  margin-right: 15px;
}



.order-items-row {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 25px;
  & > h4 {
    margin: auto;
  }
}

.order-item-block {
  @extend %radius;
  display: flex;
  position: relative;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid $input-bd;
  overflow: visible;
  z-index: 0;
  &:hover {
    .order-item-action-col {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 1;
  }
  & > div {
    z-index: 2;
  }
  .order-item-action-col {
    z-index: 0;
  }
}

.order-item-name-col {
  display: inline-flex;
  position: relative;
  padding: 0 15px 0 45px;
  flex-grow: 1;
}

.order-item-size-col {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 15px;
  border-left: 1px solid $input-bd;
  font-family: $robotoCondensedBold;
}

.order-item-props-col {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 15px;
  border-left: 1px solid $input-bd;
  span {
    &::after {
      content: ' / ';
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  em {
    font-family: $robotoCondensedBold;
  }
}

.order-item-action-col {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 42px;
  left: 100%;
  padding-left: 8px;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 16px;
    height: 20px;
    line-height: 1;
    font-size: 8px;
    text-align: center;
    color: $grey-text;
    background-color: $white;
    border: 1px solid $input-bd;
    &:hover {
      color: $white;
      background-color: $gold;
      border-color: $gold;
    }
    &:first-child {
      -webkit-border-radius: 3px 3px 0 0;
      -moz-border-radius: 3px 3px 0 0;
      border-radius: 3px 3px 0 0;
    }
    &:last-child {
      -webkit-border-radius: 0 0 3px 3px;
      -moz-border-radius: 0 0 3px 3px;
      border-radius: 0 0 3px 3px;
    }
  }
}

.order-remove-item-btn {
  @extend %radius;
  display: inline-flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  left: 10px;
  margin-right: 15px;
  background-color: transparent;
  border: 1px solid $input-bd;
  color: $grey-text;
  padding: 0;
  &:hover {
    color: $white;
    background-color: $gold;
    border-color: $gold;
  }
}