.product-section {
  @extend %white-section;
}

.product-block {
  @extend .col,
  %radius;
  position: relative;
  overflow: hidden;
  padding: 50px 0 30px;
  background-color: $white;
  margin-top: -100px;
}

.product-slider {
  padding-left: 40px;
  padding-right: 40px;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    background-color: $white;
    z-index: 2;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
  .swiper-slide {
    height: 100%;
  }
  .swiper-pagination {
    position: relative;
    padding-top: 30px;
    width: auto;
    bottom: auto;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: #f2dcbb;
  }
  .swiper-pagination-bullet-active {
    background-color: $gold;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 60px;
    color: $gold;
    font-size: 24px;
    line-height: .9;
    border: 2px solid $gold;
    background-color: $white;
    background-image: none;
    margin-top: -30px;
    &:hover {
      background-color: $gold;
      color: $white;
    }
  }
  .swiper-button-prev {
    left: 0;
    border-left: 0;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
  }
  .swiper-button-next {
    right: 0;
    border-right: none;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
  }
  .swiper-button-disabled {
    display: none;
  }
}

.product-item {
  @extend %radius;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 0;
  &.product-item--sale {
    &::before {
      content: 'sale';
      position: absolute;
      right: 0;
      top: 10px;
      text-transform: uppercase;
      font-family: $robotoCondensedBold;
      background-color: $gold;
      color: $white;
      padding: 5px 10px;
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;
      line-height: 1;
      z-index: 1;
    }
  }
}

.product-item-head-row {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-image: url(../images/flour.jpg);
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  img {
    margin-bottom: 10px;
    max-width: 100%;
    height: 150px;
  }
  .product-price-block {
    min-width: 100%;
    max-width: 100%;
  }
}

.product-item-body-row {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 15px;
  background-color: #f4f4f4;
  h5 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: $ralewayBold;
    border-bottom: 1px solid $gold;
    width: 100%;
  }
  a {
    color: $black;
    &:hover {
      color: $gold;
    }
  }
  p {
    display: -webkit-box;
    position: relative;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-height: 6rem;
    -webkit-box-orient: vertical;
    white-space: normal;
    -webkit-line-clamp: 5;
    line-height: 1.2rem;
    margin-bottom: 20px;
  }
  .price-block {
    margin-top: auto;
  }
}