<template>
  <div class="delivery-section">
    <div class="container">
      <div class="title-block">
        <h4>Доставка и оплата</h4>
        <p>Не зависимо от того, какой сейчас час, какая погода и как далеко вы живете - наша оперативная доставка с радостью привезет вам заказ в любое время и по любому адресу г. Москвы.</p>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'DeliverySection',
    }
</script>