<template>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <h5>Пицца на дом</h5>
          <p>Моментальная доставка свежей горячей пиццы прямо к вам домой или в офис.</p>
          <ul class="footer-contact-list">
            <li>
              <fa-icon icon="envelope" />
              <a href="#">pizzanadom@yandex.ru</a>
            </li>
            <li>
              <fa-icon icon="phone" />
              <a href="#">+7 (999) 999-99-99</a>
            </li>
            <li>
              <fa-icon icon="map-marker-alt" />
              <span>Москва, Коломенское ш., дом 46а, оф. 345</span>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h5>Заказать</h5>
          <ul class="footer-nav-list">
            <router-link tag="li" to="/" active-class="active" exact>
              <a>Выбрать пиццу</a>
              <fa-icon icon="caret-right"></fa-icon>
            </router-link>
            <router-link tag="li" to="/snacks" active-class="active">
              <a>Выбрать закуску</a>
              <fa-icon icon="caret-right"></fa-icon>
            </router-link>
            <router-link tag="li" to="/drinks" active-class="active">
              <a>Выбрать напитки</a>
              <fa-icon icon="caret-right"></fa-icon>
            </router-link>
          </ul>
          <button class="footer-order-btn">Отправить заявку</button>
        </div>
        <div class="col-4">
          <h5>Галерея Instagram</h5>
          <div class="footer-gallery" id="footer-gallery"></div>
        </div>
        <div class="col-2">
          <h5>Мы в соц.сетях</h5>
          <ul class="footer-social-list">
            <li>
              <a href="#">
                <fa-icon :icon="['fab', 'facebook-f']"></fa-icon>
                <span>Facebook</span>
              </a>
            </li>
            <li>
              <a href="#">
                <fa-icon :icon="['fab', 'twitter']"></fa-icon>
                <span>Twitter</span>
              </a>
            </li>
            <li>
              <a href="#">
                <fa-icon :icon="['fab', 'vk']"></fa-icon>
                <span>Вконтакте</span>
              </a>
            </li>
            <li>
              <a href="#">
                <fa-icon :icon="['fab', 'linkedin-in']"></fa-icon>
                <span>Linkedin</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import Instafeed from 'instafeed.js';

    export default {
        name: "AppFooter",
        created() {
            let userFeed = new Instafeed({
                target: 'footer-gallery',
                get: 'user',
                userId: '8987997106',
                clientId: '924f677fa3854436947ab4372ffa688d',
                accessToken: '8987997106.924f677.8555ecbd52584f41b9b22ec1a16dafb9',
                resolution: 'standard_resolution',
                template: '<div class="footer-gallery-item"><a href="{{link}}" target="_blank"><img src="{{image}}" /></a></div>',
                sortBy: 'most-recent',
                limit: 12,
                links: false
            });
            userFeed.run();
        }
    }
</script>
