<template>
  <div class="head-section" :class="activeRoute">
    <div class="container">
      <div class="row">
        <swiper class="head-slider" :options="swiperOption">
          <swiper-slide v-for="(item, index) in items" :key="index">
            <div class="col-6">
              <h2><router-link :to="`${activeRoute}/${item.id}`">{{ item.name }}</router-link></h2>
              <p>{{ item.description }}</p>
              <div class="product-price-block">
                <div class="product-size-block" v-if="activeRoute !== 'snacks'">
                  <button v-for="size in item.sizes"
                          :class="[`size${size}`, {active: size === item.size}]"
                          @click="item.size = size" :key="size">{{item[`sizeName${size}`]}}</button>
                </div>
                <div class="product-price-value-block">
                  <template v-if="item[`newPrice${item.size}`]">
                    <h5><span>{{ item[`newPrice${item.size}`] }}</span> руб.</h5>
                    <h6><span>{{ item[`price${item.size}`] }}</span> руб.</h6>
                  </template>
                  <template v-else>
                    <h5><span>{{ item[`price${item.size}`] }}</span> руб.</h5>
                  </template>
                </div>
              </div>
              <price-block :itemId="item.id" :itemSize="item.size" :activeRoute="activeRoute"></price-block>
            </div>
            <div class="col-6">
              <img :src="require(`@/assets/images/${activeRoute}/${item.id}.png`)" :alt="item.name">
            </div>
          </swiper-slide>
          <div class="swiper-scrollbar" slot="scrollbar"></div>
          <button class="swiper-button-prev" slot="button-prev">
            <fa-icon icon="angle-left" />
          </button>
          <button class="swiper-button-next" slot="button-next">
            <fa-icon icon="angle-right" />
          </button>
        </swiper>
      </div>
    </div>
  </div>
</template>

<script>
    import PriceBlock from './elements/PriceBlock';

    export default {
        name: 'HeadSection',
        components: {
            PriceBlock
        },
        data() {
            return {
                swiperOption: {
                    effect: 'fade',
                    scrollbar: {
                        el: '.swiper-scrollbar',
                        slidesPerView: 1,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    }
                }
            }
        },
        computed: {
            items() {
                let items = this.$store.getters.saleItems(this.activeRoute);
                items.forEach((item) => {
                    this.$set(item, 'size', 1);
                });
                return items;
            },
            activeRoute() {
                return this.$store.getters.activeRoute;
            }
        }
    }
</script>