<template>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="header-logo-col">
          <router-link to="/" class="header-logo-link">
            <img src="../assets/images/logo.png" alt="logo">
          </router-link>
        </div>
        <div class="header-nav-col">
          <ul class="header-nav-list">
            <router-link tag="li" to="/" active-class="active" exact>
              <a>Выбрать пиццу</a>
            </router-link>
            <router-link tag="li" to="/snacks" active-class="active">
              <a>Выбрать закуску</a>
            </router-link>
            <router-link tag="li" to="/drinks" active-class="active">
              <a>Выбрать напитки</a>
            </router-link>
          </ul>
        </div>
        <div class="header-contact-col">
          <span>Заказать по телефону:</span>
          <a href="#" class="header-contact-link">
            <fa-icon icon="phone" pull="left" />
            <span>+7 (495) <b>923-35-74</b></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'Header'
    }
</script>