<template>
  <div class="item-section" :class="activeRoute" v-if="item">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6">
          <img :src="require(`@/assets/images/${activeRoute}/${item.id}.png`)" alt="item">
        </div>
        <div class="col-6">
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
          <div class="product-price-block">
            <div class="product-size-block" v-if="activeRoute !== 'snacks'">
              <button v-for="size in item.sizes"
                      :class="[`size${size}`, {active: size === item.size}]"
                      @click="item.size = size" :key="size">{{item[`sizeName${size}`]}}</button>
            </div>
            <div class="product-price-value-block">
              <template v-if="item[`newPrice${item.size}`]">
                <h5><span>{{ item[`newPrice${item.size}`] }}</span> руб.</h5>
                <h6><span>{{ item[`price${item.size}`] }}</span> руб.</h6>
              </template>
              <template v-else>
                <h5><span>{{ item[`price${item.size}`] }}</span> руб.</h5>
              </template>
            </div>
          </div>
          <price-block :itemId="item.id" :itemSize="item.size" :activeRoute="activeRoute"></price-block>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import PriceBlock from './elements/PriceBlock';

    export default {
        name: 'ItemSection',
        components: {
            PriceBlock
        },
        data() {
            return {
                productId: +this.$route.params.id
            }
        },
        computed: {
            activeRoute() {
                return this.$store.getters.activeRoute;
            },
            item() {
                let items = this.$store.getters[this.activeRoute],
                    item;
                items.forEach((el) => {
                    if (el.id === this.productId) {
                        item = el;
                        this.$set(item, 'size', 1);
                    }
                });
                return item;
            }
        }
    }
</script>
