<template>
  <div class="order-section">
    <div class="container">
      <form class="order-form">
        <div class="col-6">
          <div class="title-block left-text">
            <h4>Адрес и время доставки</h4>
            <p>Пожалуйста, выберите удобную дату и время доставки, введите ваш полный адрес и телефон, чтобы мы могли убедиться в том, что ваш заказ нашел вас:</p>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="orderName"
                     :class="{'required': $v.name.$params.required}">Ваше имя</label>
              <input type="text"
                     class="form-control"
                     :class="{'error': $v.name.$invalid && $v.name.$dirty, 'success': !$v.name.$invalid && $v.name.$dirty}"
                     id="orderName"
                     v-model.trim="name"
                     @input="checkValidation($v.name)"
                     :disabled="!cart.length">
              <small class="form-text">
                <template v-if="!$v.name.minLength && $v.name.$dirty">Введите корректное имя</template>
                <template v-if="!$v.name.required && $v.name.$dirty">Поле не должно быть пустым</template>
              </small>
            </div>
            <div class="form-group col-6">
              <label for="orderPhone"
                     :class="{'required': $v.phone.$params.required}">Ваш телефон</label>
              <input type="text"
                     class="form-control"
                     :class="{'error': $v.phone.$invalid && $v.phone.$dirty, 'success': !$v.phone.$invalid && $v.phone.$dirty}"
                     id="orderPhone"
                     v-model="phone"
                     v-mask="'+38(###)-###-####'"
                     placeholder="+38(999)-999-9999"
                     @input="checkValidation($v.phone)"
                     :disabled="!cart.length">
              <small class="form-text">
                <template v-if="!$v.phone.required && $v.phone.$dirty">Поле не должно быть пустым</template>
              </small>
            </div>
            <div class="form-group col-6">
              <label for="orderDate"
                     :class="{'required': $v.date.$params.required}">Дата и время доставки</label>
              <input type="text"
                     class="form-control"
                     :class="{'error': $v.date.$invalid && $v.date.$dirty, 'success': !$v.date.$invalid && $v.date.$dirty}"
                     id="orderDate"
                     v-model="date"
                     v-mask="'##/##/#### ##:##'"
                     placeholder="27/07/2019 15:15"
                     @input="checkValidation($v.date)"
                     :disabled="!cart.length">
              <small class="form-text">
                <template v-if="!$v.date.required && $v.date.$dirty">Поле не должно быть пустым</template>
              </small>
            </div>
            <div class="form-group col-6">
              <label for="orderAddress"
                     :class="{'required': $v.address.$params.required}">Адрес доставки</label>
              <input type="text"
                     class="form-control"
                     :class="{'error': $v.address.$invalid && $v.address.$dirty, 'success': !$v.address.$invalid && $v.address.$dirty}"
                     id="orderAddress"
                     v-model="address"
                     @input="checkValidation($v.address)"
                     :disabled="!cart.length">
              <small class="form-text">
                <template v-if="!$v.address.required && $v.address.$dirty">Поле не должно быть пустым</template>
              </small>
            </div>
            <div class="form-group col-12">
              <label for="orderComment"
                     :class="{'required': $v.date.$params.required}">Ваш Email</label>
              <input type="text"
                     class="form-control"
                     :class="{'error': $v.email.$invalid && $v.email.$dirty, 'success': !$v.email.$invalid && $v.email.$dirty}"
                     id="orderEmail"
                     v-model="email"
                     @input="checkValidation($v.email)"
                     :disabled="!cart.length">
              <small class="form-text">
                <template v-if="!$v.email.email && $v.email.$dirty">Введите корректный email</template>
                <template v-if="!$v.email.required && $v.email.$dirty">Поле не должно быть пустым</template>
              </small>
            </div>
            <div class="form-group col-12">
              <label for="orderComment">Комментарий к заказу</label>
              <textarea cols="30"
                        rows="10"
                        class="form-control"
                        id="orderComment"
                        v-model="comment"
                        :disabled="!cart.length"></textarea>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="order-block">
            <div class="order-title-row">
              <h3>Ваш <span>заказ</span></h3>
            </div>
            <div class="order-items-row">
              <div class="order-item-block" v-show="cart.length" v-for="(product, index) of cart" :key="index">
                <div class="order-item-name-col">
                  <button type="button" class="order-remove-item-btn" @click="removeItemFunc(index)">
                    <fa-icon icon="times" />
                  </button>
                  <p>{{ product.name }}</p>
                </div>
                <div class="order-item-size-col" v-if="product.type !== 'snacks'">
                  <span>{{ product[`sizeName${product.size}`] }}</span>
                </div>
                <div class="order-item-props-col">
                  <span><em>{{ product.quantity }}</em> шт.</span>
                  <span v-if="product[`newPrice${product.size}`]"><em>{{ product[`newPrice${product.size}`] }}</em> руб.</span>
                  <span v-else><em>{{ product['price' + product.size] }}</em> руб.</span>
                </div>
                <div class="order-item-action-col">
                  <button type="button" @click="changeQuantity(index, 1)"><fa-icon icon="plus" /></button>
                  <button type="button" @click="changeQuantity(index, 0)"><fa-icon icon="minus" /></button>
                </div>
              </div>
              <h4 v-show="isEmptyCart">Корзина пуста</h4>
            </div>
            <div v-show="!isEmptyCart" class="order-action-row">
              <h4>Итого: <span><em>{{ totalCartPrice }}</em> руб.</span></h4>
              <div>
                <button type="button" class="order-reset-btn" @click="removeAllItemsFunc()">
                  <fa-icon icon="times" pull="left" />
                  Сбросить
                </button>
                <button type="submit" class="order-submit-btn">
                  <fa-icon icon="check" pull="left" />
                  Оформить
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import { required, minLength, email } from 'vuelidate/lib/validators';

    const touchMap = new WeakMap();

    export default {
        name: "OrderSection",
        data() {
            return {
                name: '',
                phone: '',
                date: '',
                address: '',
                email: '',
                comment: ''
            }
        },
        methods: {
            removeItemFunc(index) {
                this.$store.commit('removeItemFromCart', index);
            },
            removeAllItemsFunc() {
                this.$store.commit('removeAllItemsFromCart');
            },
            changeQuantity(index, value) {
                this.$store.commit('changeItemQuantity', { index, value });
            },
            checkValidation($v) {
                $v.$reset();
                if (touchMap.has($v)) {
                    clearTimeout(touchMap.get($v));
                }
                touchMap.set($v, setTimeout($v.$touch, 1000));
                console.log($v);
            }
        },
        computed: {
            ...mapGetters([
                "cart",
                "isEmptyCart",
                "totalCartPrice",
                "activeRoute"
            ])
        },
        validations: {
            name: {
                required,
                minLength: minLength(2)
            },
            phone: {
                required
            },
            date: {
                required
            },
            address: {
                required
            },
            email: {
                required,
                email
            }
        }
    }
</script>
