<template>
  <div class="product-section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="product-block">
            <button class="scroll-btn">
              <fa-icon icon="angle-double-down" />
            </button>
            <div class="title-block">
              <h4 v-if="activeRoute === 'pizzas'">Выбрать пиццу</h4>
              <h4 v-if="activeRoute === 'snacks'">Выбрать закуску</h4>
              <h4 v-if="activeRoute === 'drinks'">Выбрать напитки</h4>
            </div>

            <swiper class="product-slider" :options="swiperOption">
              <swiper-slide v-for="item in items" :key="item.id">
                <product-item :item="item" :activeRoute="activeRoute"></product-item>
              </swiper-slide>

              <div class="swiper-pagination" slot="pagination"></div>
              <button class="swiper-button-prev" slot="button-prev">
                <fa-icon icon="angle-left" />
              </button>
              <button class="swiper-button-next" slot="button-next">
                <fa-icon icon="angle-right" />
              </button>
            </swiper>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import ProductItem from './elements/ProductItem';

    export default {
        name: 'PizzaSection',
        components: {
            ProductItem
        },
        data() {
            return {
                swiperOption: {
                    slidesPerView: 3,
                    slidesPerGroup: 3,
                    loopFillGroupWithBlank: true,
                    resistanceRatio: 0,
                    autoHeight: true,
                    roundLengths: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    }
                }
            }
        },
        computed: {
            activeRoute() {
                return this.$store.getters.activeRoute;
            },
            items() {
                return this.$store.getters[this.activeRoute];
            }
        }
    }
</script>
