<template>
  <form class="price-block" :class="{active: isActive}" @click="onClickFunc" @submit.prevent="onSubmitFunc">
    <button class="price-block__btn" type="button">
      <span>
        <em class="price-default-text">Выбрать</em>
        <em class="price-active-text">Количество:</em>
      </span>
      <fa-icon icon="check"/>
    </button>
    <input
        ref="priceInput"
        @keypress="onlyNumberFunc"
        v-model.number="inputValue"
        class="price-block__input" type="text">
    <button type="submit" class="price-block__submit"></button>
  </form>
</template>

<script>
    export default {
        props: [
            'itemId',
            'itemSize',
            'activeRoute'
        ],
        name: "PriceBlock",
        data: function () {
            return {
                isActive: false,
                inputValue: 1
            }
        },
        methods: {
            onClickFunc($event) {
                if ($event.target.localName !== 'input') this.isActive = !this.isActive;
            },
            onSubmitFunc() {
                let item = this.$store.getters.item(this.itemId, this.activeRoute);
                item.quantity = this.inputValue;
                item.size = this.itemSize;
                item.type = this.activeRoute;
                this.$store.commit('setProductToCart', item);
                this.inputValue = 1;
            },
            onlyNumberFunc($event) {
                let e = $event,
                    key = Number(e.key),
                    isInvalidVal = e.target.value.length >= 2;
                if (isNaN(key) || isInvalidVal) e.preventDefault();
            }
        }
    }
</script>