<template>
  <div class="product-item" :class="{'product-item--sale': onSale}">
    <div class="product-item-head-row">
      <img :src="require(`@/assets/images/${activeRoute}/${item.id}.png`)" alt="">
      <div class="product-price-block">
        <div class="product-size-block" v-if="activeRoute !== 'snacks'">
          <button v-for="size in item.sizes"
                  :class="[`size${size}`, {active: size === activeSize}]"
                  @click="activeSize = size" :key="size">{{item[`sizeName${size}`]}}</button>
        </div>
        <div class="product-price-value-block">
          <template v-if="item[`newPrice${activeSize}`]">
            <h5><span>{{ item[`newPrice${activeSize}`] }}</span> руб.</h5>
            <h6><span>{{ item[`price${activeSize}`] }}</span> руб.</h6>
          </template>
          <template v-else>
            <h5><span>{{ item[`price${activeSize}`] }}</span> руб.</h5>
          </template>
        </div>
      </div>
    </div>
    <div class="product-item-body-row">
      <h5><a href="#">{{ item.name }}</a></h5>
      <p>{{ item.description }}</p>
      <price-block :itemId="item.id" :itemSize="activeSize" :activeRoute="activeRoute"></price-block>
    </div>
  </div>
</template>

<script>
    import PriceBlock from './PriceBlock';

    export default {
        props: [
            'item',
            'activeRoute'
        ],
        components: {
            PriceBlock
        },
        name: "ProductItem",
        data() {
            return {
                activeSize: 1,
                onSale: false
            }
        },
        created() {
            for (let key in this.item) {
                if (key.indexOf('newPrice') === 0) {
                    if (this.item[key]) this.onSale = true;
                }
            }
        }
    }
</script>