<template>
  <div id="app">
    <app-header></app-header>
    <router-view></router-view>
    <order-section></order-section>
    <app-footer></app-footer>
  </div>
</template>

<script>
    import AppHeader from './components/Header';
    import OrderSection from './components/OrderSection';
    import AppFooter from './components/Footer';

    export default {
        name: 'app',
        components: {
            AppHeader,
            OrderSection,
            AppFooter
        },
        computed: {
            activeRoute() {
                return this.$route.path.split('/')[1] || 'pizzas';
            }
        },
        watch: {
            activeRoute() {
                this.$store.commit('setActiveRoute', this.activeRoute);
            }
        },
        created() {
            this.$store.commit('setActiveRoute', this.activeRoute);
            this.$http.get(`http://localhost:3000/products`).then(response => {
                this.$store.commit('setItems', response.body);
            });
        }
    }
</script>
